@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    bottom: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    margin: 20px;
}

.inner {
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px; */
}

/* .container .inner form label{
    
} */
.container .inner form input, select{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    transition: all 0.3s ease;
}
.container .inner form input:hover, select:hover{
    border: 1px solid #259dff;
}
.container .inner form #submit_btn{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 20px 0;
    border: none;
    background: #259dff;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease;
}
.container .inner form #submit_btn:hover {
    background: #157acc;
}